Importing the Dependencies

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score

In [41]:
#read dataset
df=pd.read_csv('Medical Price Dataset.csv')

In [42]:
#top 5 records of dataset
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [43]:
#shape of dataset
df.shape

(1338, 7)

Data Preprocessing

In [44]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

There is no missing values in dataset

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

Converting labels into numerical using LabelEncoder

In [46]:
label = LabelEncoder()
df['sex'] = label.fit_transform(df['sex'])
df['smoker'] = label.fit_transform(df['smoker'])
df['region'] = label.fit_transform(df['region'])

In [47]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

Linear Regression

In [48]:
class Linear_Regression():

   def __init__( self, learning_rate, no_of_iterations ) :
        self.learning_rate = learning_rate  
        self.no_of_iterations = no_of_iterations

    # fit function to train the model
   def fit( self, X, Y ) : 
        # no_of_training_examples, no_of_features
        self.m, self.n = X.shape
          
        # initiating the weight and bias
        self.w = np.zeros( self.n )
        self.b = 0
        self.X = X
        self.Y = Y

        # implementing Gradient Descent for Optimization              
        for i in range( self.no_of_iterations ) :              
            self.update_weights()        
      
    # function to update weights in gradient descent      
   def update_weights( self ) :             
        Y_prediction = self.predict( self.X )
          
        # calculate gradients        
        dw =  - ( 2 * ( self.X.T ).dot( self.Y - Y_prediction ) ) / self.m
        db =  - 2 * np.sum( self.Y - Y_prediction ) / self.m 

        # updating the weights      
        self.w = self.w - self.learning_rate * dw
        self.b = self.b - self.learning_rate * db

    # Line function for prediction:
   def predict( self, X ) :
        return X.dot( self.w ) + self.b

In [49]:
X = df.drop(['charges'], axis = 1)
Y = df['charges']

In [50]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state = 2)

In [51]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [52]:
model=Linear_Regression(learning_rate = 0.02, no_of_iterations=1000)

In [53]:
model.fit(X_train, Y_train)

In [54]:
Y_pred = model.predict(X_test)

In [55]:
print(Y_pred)

[ 2206.44316224 12128.57168476 10623.72352246  2553.99507214
  8496.33081026 11334.57127277  3600.78567219  1491.87354869
 12053.67237523  9687.04284963 11530.01606991  5298.05425886
 29268.89146356  -113.61306659 13057.64477726 13297.76941285
  4458.38935146  8016.69742893 28736.762252    3175.92899166
 12397.58851742  1946.81219006 33185.7788866  31519.95883128
 29738.99614837  8365.14681972  2663.48228394 15472.15475852
  6223.59633478  2179.56538315  9728.73954933  5922.87061232
  4062.96729546  5026.59145543  9808.87396178  4985.11351209
 29370.55649373  6294.31116789 27032.09061434 14012.78100246
   436.01328991 27109.40919653  7852.26409744  1138.85613929
 10517.7574625   7662.61571033 11564.31757026  8444.80707016
 11062.62142235 13204.54814216  6606.32074965 -1151.07748637
 25589.06446254 36130.70422784  6927.53510183 17413.63133695
   974.68916092 11237.72122195  1818.20651675 33336.4749534
 11422.00145925   480.42763931  4137.13269517 35205.45363707
 -1452.10030637 14451.18766934 14216.15367201  3744.98392105
 12985.48171048 11243.24598622 11025.21187298 16310.58077406
 10089.47095198  9520.80651763 15639.30882625 11891.86575387
  4082.19037924  3753.300246    5582.4530805  13172.63947134
  8527.19947303 12488.76934089  9893.72334922 26463.59836726
 12705.71199822  4057.07101151 37656.78520987 10970.79804407
  8576.93354619 11341.73809022 11586.35434075 14468.88943934
 11284.16172524 13680.18115736  6092.5973849  25148.04133255
  5138.65867782 10702.46880398  3390.24618519 28297.05379605
  7250.19412314  3760.30058427  2238.97641965 16075.98266242
  7901.57045471  9598.2557845   9963.62264031  5318.16748462
 15416.62088703 33505.505515    4176.11956366 10897.40543525
 24452.74070459 15469.21790386  2540.43637167 10230.05859833
  8777.52977926  6322.99274522 11257.12608537 28188.89340965
  5986.6444051   6714.22779677 16066.65689759 16798.94601172
  8628.66555306 26125.62300247 34343.31954234 11384.97880719
  8101.11369906  9717.62210447  8411.25121554  3645.95896774
  3024.51244432  4780.00320094  8407.1539815   8744.4001848
  7298.65983794 28194.84972671 33827.10638223  4178.33382898
 26622.54456921  4351.40526639  6735.79742599 13464.58217618
  7547.48873611 35828.59760837 11796.89382775 11216.58789387
  8265.33430043   135.54706185  6154.48772718  7522.47048865
  5021.90519009 11053.53064473 11473.58734126 15547.89706189
  6514.08295589 27476.93544833  2042.80944862 12023.59038123
 17506.89152186 13996.81129484  8991.69035835  3022.66063546
  4547.65785119  9162.07059077 19213.89841765 27993.73674252
 13090.48333517  3232.21498375 32256.07816833 12599.43458055
 32655.43834906 34070.59386186 11744.47371337  7102.9661317
  3354.14341242  3175.92899166 11818.5682081   7503.5769402
  3000.36651255  1230.64458712 30847.92101385  7210.13736623
  5883.43044729 26510.79428375  7305.64633147  2957.14192693
  8057.87211803 34458.56754254  8106.65234121  4642.16222061
  9702.73533227 26701.12254224  6438.82766634 39383.02647675
 35946.28312517 13593.76089251 26154.56365875 12443.78111758
 36808.54783826  7354.54671659  4283.81156246  2123.62491466
 14697.22670176 13849.82965509  2893.02523429 34859.86473044
 12311.18379224  8847.66814789   760.62890437 29965.68141455
  4145.98231805  4070.23876834 12434.96794722 14935.50638564
 28368.61453111  -476.90935561  3550.23807012  8457.75517341
 39419.68411493  8756.08803474 34858.34370324 26051.06880109
 13598.16948427 28276.55488614 17242.99244102  7811.56596573
 16216.36176626  7428.06516227 10820.46436741  3301.1839723
  8388.79144434  1964.26349951 32061.3826478  31236.84355697
 14303.16251954 11023.70597     1746.33611891  6338.24678476
 10746.51858812  4503.9540061  10479.69569961   594.14695586
 33940.51603601 31587.6200361  10467.2021724  25721.53642901
 12771.75354824  2480.9661661  10738.37649669  3239.47825366
  8303.86531497 10193.65955891 16583.43831923  5906.85462061
 10220.22549852   189.37919994 -1653.54939802  1524.68091358
 27098.1451782  33094.53793432 37104.94244609 -2025.98153558
 16240.22441584 35923.27849795 13146.45918272 33167.51369912
  1240.4789001   9360.6584337  12628.45226535  1834.53947855
 10941.82619476 37981.2221622   8481.3129711  12516.72226789
  9581.3427605  31904.56711051  9392.30116685 30829.77595513
  3333.36686208  6458.80940969  1944.94867844  5635.37319095
 37961.24401655 24510.10226002 34180.83616712 11165.98670196
 13664.24561562 18314.01676173  5493.74425706  7392.67948016
 12157.31300863 14904.88333938  4249.41143451  2835.979432
  9255.39990519  8361.41197581 10120.22627838  7939.14063168
  3041.79855408 10166.15335631 29860.82300818  6160.23256047
  4599.19789772  3915.41822507 10125.86604079 10525.72182059
 37888.3227388   8353.52765226 13910.75342013 12029.28376665
  9761.52489969  1061.59768592 28353.21828196 13668.18661751
 12774.29859522 16092.24471924 10138.49146586  9912.61277418
 13872.58129373 26589.09758921 13958.3671404   5678.68737032
  5424.63035682 10094.71977076  6735.80230319 11003.26030081
  7686.43730371  4740.67378172 15917.98306945 24376.31434003
  5791.27705192 17819.29038548  8329.3259871   4192.71718364
 26831.07747092 31642.49616223 11647.36672557  5616.59942215
 13038.95145844 31345.59255922   881.69107677 10567.65115612
 33653.03634366 11615.59209457  5251.32797851 28919.31295117
  8004.6732181  12842.43335141 10241.72000357  7956.96987093
  5316.23861408 10731.19708085  3826.24139631  8410.69721419
  8469.16410343  7623.20756922 32378.57578733  4814.76530359
 16017.80199885 12566.84295179 10803.90375731  9567.06485899
 37968.74123338 14017.86334206 36287.34327812 14120.2883113
  2510.52528545 30483.17116536  9601.35607916  7535.56222409
  7879.89565891 26264.99626416 36366.76192521  8518.68710825
 10557.41769655 40225.48038743  3645.25102085 14869.54653193
  3970.06385892 28854.53418028  7853.68604844 17077.27773733
 14346.2522013   2363.7689742  35608.55548727 11747.54163499
  1686.63324435 12219.66606358  5284.16733415 15498.10327536
  3724.50491685 35183.69281207  6415.77159125  9170.72860242
  7368.32732409  4290.34704609 11515.76499538 32861.67357998
 35644.16183009  7125.76571841  7759.33434506  6193.09182183
 30403.0380324   3381.59634334  5891.71748357 10321.27310592
 36268.6117471  11457.56317975  2120.3342551  12951.71333179
  2789.57621211 16309.37847664  4158.36509946  7056.09449105
  9396.02171743 14452.4971796   8778.28273075 12142.10480458
 29586.74664817  6646.63492373 26376.57522639 12986.8115419
 10549.52080618  2331.75042164 32300.41777584 -1758.40569558
  6054.82015274  9636.21891979 26601.5691019  26525.11718985
 12319.97325314  7683.37755189 29689.71094316 13478.19149363
  3220.16343259  4025.66219211 39903.19230834  7326.03158527
 11107.55397861  3622.12878911]

In [57]:
accuracy=r2_score(Y_test,Y_pred)
print(accuracy*100)

76.98751296167457